/*Styles designed for index.html*/
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9fbf9;
}

.topBar {
    background-color: #28a745;
    padding: 15px 0;
    box-shadow: 0 4px 10px rgba(40, 167, 69, 0.2);
}

.pageLinks {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    gap: 40px; 
}

.pageLinks a {
    color: #ffffff;
    text-decoration: none; 
    font-size: 16px;
    font-weight: bold;
    padding: 8px 18px;
    border-radius: 8px;
}

.pageLinks a:hover {
    background-color: #1e7e34;
}